@charset "UTF-8";

/* Font and gobal setup */

@font-face {
    font-family: "TimeBurner";
    src: url("../Fonts/TimeBurner/Timeburner-xJB8.ttf");
}

@font-face {
    font-family: "TimeBurnerBold";
    src: url("../Fonts/TimeBurner/TimeburnerBold-xJB8.ttf");
}

:root {
    --family-primary: "TimeBurner", sans-serif;
}

* {
    font-family: var(--family-primary);
}

/* general body styling */

body {
    background-color: black;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

p {
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-align: center;
}

/* Style for the navigation bar */
.nav {
    position: fixed;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 3vw, 2rem);
    padding: 10px;
}

/* style for Title section */
.title {
    z-index: -98;
    height: 100vh;
}

.title h1, .title p {
    position: relative;
    text-shadow: 0 0 2px black,
                 0 0 6px white;
    top: 30%;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.title h1 {
    font-size: clamp(2rem, 8vw, 4rem);
}

.title p {
    font-size: 1em;
}


/* Style for main content */
.content {
    width: 100%;
    background-color: black;
    padding-top: 10rem;
    display: flow-root;
}

.content::before {
    content: "Scroll | Down";
    display: block;
    text-align: center;
    position: relative;
    top: -13rem;
    color: white;
}

img {
    width: 60%;
    margin: 10px;
}

.hidden {
    opacity: 0;
    transform: translateX(50px);
}

.project {
    transition: opacity 0.8s ease, transform 0.8s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.project h2 {
    font-size: clamp(0.5rem, 2.5vw, 2rem);
}

.project.show {
    opacity: 1;
    transform: translateX(0);
}

section {
    display: block;
    margin-bottom: 50px;
}

/* Style for the slider */
.slider {
    position: absolute;
    bottom: 10px;
    left: 95%;
    transform: translateX(-90%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: min(200px, 40vw);
    border: 1px solid white;
    z-index: 0;
}

.sliderInput {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: black;
    outline: none;
    display: block;
}

.sliderInput:hover {
    opacity: 1;
}

.sliderInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.sliderInput::-moz-range-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 3px solid white;
    background: black;
    cursor: pointer;
}

.sliderInput::-moz-range-progress {
    height: 0.1em;
    border-radius: 5px;
    background: white;
}

.sliderText {
    color: white;
    font-size: clamp(0.7rem, 1vw, 1rem);
    margin: 5px 0;
}

#Galaxy {
    display: block;
    position: fixed;
    z-index: -99;
}

/* Style for introduction section

NOTE: THIS SECTION ISN"T USED ANYMORE

.introduction {
    color: white;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;
}

.introduction::before {
    content: "Alex Moore";
    position: relative;
    top: -3rem;
    background-color: black;
    font-size: 24px;
    padding: 0 10px;
}

STYLE FOR OLD MENU

#menu {
    height: 100%;
    width: 0;
    max-width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

#navBtn {
    position: fixed;
    padding: 10px;
    font-size: min(4vw, 30px); 
    cursor:pointer;
    z-index: 2;
    width: clamp(50px, 10%, 100px);;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-color: transparent;
}

#bar, #bar::before, #bar::after {
    width: clamp(20px, 100%, 100px);
    height: 0.4vw;
    background-color: white;
    border-radius: 10px;
}

#bar::before, #bar::after {
    content: "";
    display: block;
    position: absolute;
}

#bar {
    display: block;
    position: relative;
    transition: all 0.3s ease-out;
}

#bar::before {
    top: -2vw;
    transition: all 0.3s ease;
}

#navBtn:hover #bar:not(.active)::before {
    top: -2.5vw;
}

#navBtn:hover #bar:not(.active)::after {
    top: 2.5vw;
}

#bar::after {
    top: 2vw;
    transition: all 0.3s ease;
}

#bar.active {
    background-color: transparent;
}

#bar.active::before {
    transform: rotate(45deg);
    top: 0;
    background-color: black;
}

#navBtn:hover #bar.active::before {
    transform: rotate(-135deg);
}

#navBtn:hover #bar.active::after {
    transform: rotate(135deg);
}

#bar.active::after  {
    transform: rotate(-45deg);
    top: 0;
    background-color: black;
}

#filler {
    height: 15%;
}

#menu ul li{
    text-decoration: none;
    font-size: min(4vw, 30px);
    color: black;
    list-style-type: none;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: black;
}

*/