@charset "UTF-8";

/* Font and gobal setup */

@font-face {
    font-family: "TimeBurner";
    src: url("../Fonts/TimeBurner/Timeburner-xJB8.ttf");
}

@font-face {
    font-family: "TimeBurnerBold";
    src: url("../Fonts/TimeBurner/TimeburnerBold-xJB8.ttf");
}

:root {
    --family-primary: "TimeBurner", sans-serif;
}

* {
    font-family: var(--family-primary);
}

/* general body styling */

body {
    background-color: black;
    overflow-x: hidden;
}

p {
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-align: center;
}

/* Style for the navigation bar */

#menu {
    height: 100%;
    width: 0;
    max-width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

#navBtn {
    position: fixed;
    color:white; 
    background-color: black;
    border: 1px solid white;
    padding: 10px 15px;
    font-size: min(4vw, 30px); 
    cursor:pointer;
    z-index: 2;
}

#filler {
    height: 10%;
}

#menu ul li{
    text-decoration: none;
    font-size: min(4vw, 30px);
    color: black;
    list-style-type: none;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: black;
}

/* Style for introduction section */

.introduction {
    color: white;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;
}

.introduction::before {
    content: "Alex Moore";
    position: relative;
    top: -3rem;
    background-color: black;
    font-size: 24px;
    padding: 0 10px;
}

#Galaxy {
    display: block;
    position: fixed;
    z-index: -99;
}